.line{
    width:150px;
    height: 3px;
    background-color: #fff;
    margin: 0px 10px;
}
#About{
background-color: #1abc9c;
height: 80vh;
}

.header{
font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
font-size: 64px;
font-weight: 700;
color: #fff;


}
#star{
    font-size: 48px !important;
    font-weight: 700 !important;
    

}

.pargrhaph{
font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
font-weight: 500;
color: #fff;

}